## Imports

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [ ]:
tec = pd.read_parquet("/Rotas-Inteligentes/data/atendTec.parquet")
com = pd.read_parquet("/Rotas-Inteligentes/data/ServCom.parquet")
equipes = pd.read_parquet("/Rotas-Inteligentes/data/equipes.parquet")

In [ ]:
frames = []
for file in os.listdir("/Rotas-Inteligentes/results/"):
    if file.endswith(".parquet") and file.startswith("atribuicoes_"):
        df = pd.read_parquet(os.path.join("/Rotas-Inteligentes/results/", file))
        frames.append(df)
df = pd.concat(frames)

## Tratamento da base

In [ ]:
tec["TIPSERV"] = "T"
tec["DATA_VENC"] = tec["DH_INICIO"]
tec = tec.rename(
    columns={
        "DH_INICIO": "DATA_SOL",
        "DH_ALOCACAO": "DATASAIDA",
        "DH_CHEGADA": "DATAINITRAB",
        "DH_FINAL": "DATATERTRAB",
    }
)

In [ ]:
tec = tec.drop_duplicates(subset=["NUMOS"])
com = com.drop_duplicates(subset=["NUMOS"])

In [ ]:
com = com[com["DATA_VENC"] > com["DATA_SOL"]]

In [ ]:
com = com.rename(columns={"NUM_CDC": "DEFEITO_FALHA"})
com["TIPO_BASE"] = "COMERCIAL"

In [ ]:
tec["CODSERV"] = np.nan

In [ ]:
com.loc[com["TD"] >= 5]["TD"].describe()

count    106366.000000
mean         19.790451
std          41.889856
min           5.000000
25%           8.830000
50%          14.250000
75%          24.320000
max       11549.600000
Name: TD, dtype: float64

In [ ]:
display(com.columns, tec.columns)

Index(['NUMOS', 'TIPSERV', 'CODSERV', 'DATA_SOL', 'DATA_VENC', 'DEFEITO_FALHA',
       'LATITUDE', 'LONGITUDE', 'DATASAIDA', 'DATAINITRAB', 'DATATERTRAB',
       'EQUIPE', 'TD', 'TE', 'ANO', 'MES', 'EUSD_FIO_B', 'EUSD', 'TIPO_BASE'],
      dtype='object')

Index(['TIPO_BASE', 'NUMOS', 'ABRANGENCIA', 'DEFEITO_FALHA', 'LOCALIDADE',
       'LOCALIZACAO', 'NOX', 'NOY', 'DATA_SOL', 'DATASAIDA', 'DATAINITRAB',
       'DATATERTRAB', 'TP', 'TD', 'TE', 'EQUIPE', 'ANO', 'MES', 'EUSD',
       'EUSD_FIO_B', 'LATITUDE', 'LONGITUDE', 'TIPSERV', 'DATA_VENC',
       'CODSERV'],
      dtype='object')

In [ ]:
serv = pd.concat([tec, com], ignore_index=True).to_clipboard(
    index=False, decimal=",", sep=";"
)

In [ ]:
equipes.to_clipboard(index=False, decimal=",", sep=";")

In [ ]:
df.groupby(["numos"]).size().reset_index(name="counts").sort_values(
    by="counts", ascending=False
).shape

(92557, 2)

In [ ]:
pd.read_parquet(
    "/Rotas-Inteligentes/results_v3/atribuicoes_2023-01-01.parquet"
).to_clipboard(index=False, decimal=",", sep=";")

In [ ]:
equipes["BASE_LON"] = -63.885464691387746
equipes["BASE_LAT"] = -8.738508095069408

In [ ]:
equipes.to_parquet("/Rotas-Inteligentes/data/equipes.parquet", index=False)

In [ ]:
equipes.head()

,TIP_EQUIPE,EQUIPE,DT_REF,DTHAPS_INI,DTHAPS_FIM,HH_TRAB,DATA_INICIO_TURNO,DATA_FIM_TURNO,HORA_BRUTA,HH_TOTAL,DTHAPS_FIM_AJUSTADO,HH_TRAB_AJUSTADO,DTHPAUSA_FIM,DTHPAUSA_INI
23649,I,PVLSN81,2023-01-01,2023-01-01 05:59:02,2023-01-01 14:51:30,8.87,2023-01-01 06:00:00,2023-01-01 15:00:00,8.0,532.47,2023-01-01 14:51:30,8.87,2023-01-01 11:25:08.000000000,2023-01-01 10:25:08.000000000
30547,I,PVOSN67,2023-01-01,2023-01-01 06:00:08,2023-01-01 15:01:27,9.02,2023-01-01 06:00:00,2023-01-01 15:00:00,8.0,541.32,2023-01-01 15:01:27,9.02,2023-01-01 11:30:44.000000000,2023-01-01 10:30:44.000000000
24075,I,PVLSN84,2023-01-01,2023-01-01 06:00:15,2023-01-01 14:56:07,8.93,2023-01-01 06:00:00,2023-01-01 15:00:00,8.0,535.87,2023-01-01 14:56:07,8.93,2023-01-01 11:28:09.000000000,2023-01-01 10:28:09.000000000
30421,I,PVOSN66,2023-01-01,2023-01-01 06:00:31,2023-01-01 15:10:57,9.17,2023-01-01 06:00:00,2023-01-01 15:00:00,8.0,550.43,2023-01-01 15:10:57,9.17,2023-01-01 11:35:36.999999999,2023-01-01 10:35:36.999999999
23406,I,PVLSN80,2023-01-01,2023-01-01 08:00:59,2023-01-01 18:20:18,10.32,2023-01-01 08:00:00,2023-01-01 18:00:00,8.0,619.32,2023-01-01 18:20:18,10.32,2023-01-01 14:10:35.000000000,2023-01-01 13:10:35.000000000